@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

$heading: 'Ubuntu',
sans-serif;
$heading2: 'Overpass',
sans-serif;
$light-red: hsl(356, 100%, 66%);
$very-light-red: hsl(355, 100%, 74%);
$very-dark-blue:hsl(208, 49%, 24%);
$white: hsl(0, 0%, 100%);
$gray-blue: hsl(240, 2%, 79%);

$dark-gray-blue: hsl(207, 13%, 34%);
$dark-black-blue: hsl(240, 10%, 16%);
$very-dark-gray-blue: hsl(237, 17%, 21%);
$dark-desaturated-blue: hsl(237, 23%, 32%);