@import '_mixins';
@import '_global';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-size: 16px;
    font-family: $heading2;
    overflow-x: hidden;
}

img {
    width: 100%;
}

.hero_section {
    min-height: 70vh;
    background: url('../images/bg-pattern-intro.svg') center,
        linear-gradient(to right, rgba(255, 143, 112, 1), rgba(255, 61, 84, 1));
    background-position-x: 34%;
    background-position-y: 39%;
    background-size: 332% auto,
        cover;
    border-bottom-left-radius: 5rem;
    background-repeat: no-repeat;


    .hero_header {
        padding: 1.5em 2em;

        .hero_menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            h3 {
                font-family: $heading2;
                color: white;
                font-size: 24px;

                @include tablet {
                    font-size: 30px;
                    margin-right: 15px;
                }
            }

            .hide {
                display: none;
            }

            .show {
                display: block;
            }

            .mobile_toggle {
                .menu_icon {
                    color: white;
                    font-size: 20px;
                    cursor: pointer;
                }

                @include tabletlaptop {
                    display: none;
                }
            }

            .menu_mobile {
                background-color: white;
                position: absolute;
                top: 60px;
                width: 100%;
                padding: 20px 18px;
                border-radius: 3px;

                hr {
                    border-color: rgba(228, 227, 227, 0.2);
                }

                .menu_mobile_list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 12px;

                    .angle {
                        color: $very-light-red;
                        vertical-align: middle;
                        margin-left: 5px;
                        font-size: 13px;
                    }

                    .link {
                        cursor: pointer;
                        font-weight: 600;
                        margin-bottom: 15px;
                        color: $very-dark-blue;
                        font-size: 18px;
                    }

                    .list_content {
                        background: rgba(228, 227, 227, 0.4);
                        text-align: center;
                        padding: 15px 0;
                        width: 100%;
                        border-radius: 5px;

                        a {
                            display: block;
                            margin-bottom: 12px;
                            color: $dark-desaturated-blue;
                            text-decoration: none;
                            font-weight: 600;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .call_to_action {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .login {
                        padding: 10px;
                        text-decoration: none;
                        font-weight: 600;
                        color: $very-dark-blue;
                        font-size: 18px;
                    }

                    .sign_up {
                        padding: 12px;
                        color: $white;
                        background: linear-gradient(to right, rgba(255, 143, 112, 1), rgba(255, 61, 84, 1));
                        border: none;
                        border-radius: 50px;
                        width: 113px;
                        font-weight: 600;
                        font-size: 14px;
                    }
                }

                @include tabletlaptop {
                    display: none;
                }
            }

            .menu_desktop {
                display: none;

                @include tabletlaptop {
                    display: flex;
                    width: 80%;
                    justify-content: space-between;

                    .middle {
                        display: flex;
                        justify-content: space-evenly;
                        position: relative;

                        .menu_desktop_list {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }

                        .desktop_link {
                            color: rgba(255, 255, 255, 0.8);

                            &:hover {
                                color: $white;
                            }
                        }

                        ul {
                            margin-right: 30px;
                            font-weight: 600;
                            color: $white;

                            a {
                                display: block;
                                cursor: pointer;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }

                        .desktop_list {
                            position: absolute;
                            top: 35px;
                            background: $white;
                            padding: 12px;
                            border-radius: 4px;
                            width: 120px;
                            font-family: $heading;

                            a {
                                text-decoration: none;
                                color: $dark-desaturated-blue;
                                font-weight: 400;
                                line-height: 2em;

                                &:hover {
                                    color: $very-dark-gray-blue;
                                    font-weight: 600;
                                    text-decoration: none;
                                }
                            }
                        }
                    }

                    .right {
                        .login {
                            color: rgba(255, 255, 255, 0.8);
                            text-decoration: none;
                            font-weight: 500;
                            font-family: $heading;
                            cursor: pointer;
                        }

                        .sign_up {
                            cursor: pointer;
                            background: $white;
                            color: $light-red;
                            border-radius: 20px;
                            font-size: 13px;
                            border: none;
                            width: 97px;
                            padding: 10px;
                            font-weight: 600;
                            margin-left: 15px;

                            &:hover {
                                background: $very-light-red;
                                color: $white;
                            }
                        }
                    }
                }

                @include laptop {
                    width: 87%;
                }
            }

            @include tabletlaptop {
                justify-content: space-around;
                align-items: center;
            }

            @include laptop {
                justify-content: space-between;

                h3 {
                    font-size: 30px;
                }
            }
        }

        @include tablet {
            padding: 2em 3em;
        }

        @include laptop {
            padding: 3em 5em;
        }
    }

    .hero_content {
        padding: 0 2em;
        text-align: center;
        color: $white;
        height: 290px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-weight: 500;
            font-size: 2.2rem;
        }

        p {
            color: rgba(255, 255, 255, 0.8);
            margin-top: 1em;
            margin-bottom: 2em;
        }

        .start-free,
        .learn-more {
            cursor: pointer;
            font-family: $heading;
            font-weight: 600;
            width: 130px;
            border: none;
            margin-right: 8px;
            border-radius: 50px;
            font-size: 14px;
            padding: 14px 14px;
        }

        .start-free {
            color: $light-red;

            &:hover {
                color: $white;
                background-color: $very-light-red;
            }
        }

        .learn-more {
            background: transparent;
            border: 1px solid $white;
            color: $white;

            &:hover {
                color: $light-red;
                background-color: $white;
            }
        }

        @include tablet {
            height: auto;
            margin-top: 1em;
        }

        @include laptop {
            h2 {
                font-size: 3rem;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }

    @include tablet {
        min-height: 60vh;
        border-bottom-left-radius: 4rem;
        background-position-x: 34%;
        background-position-y: 50%;
        background-size: 188% auto,
            cover;
    }

    @include laptop {
        min-height: 70vh;
        background: url("../images/bg-pattern-intro.svg") center,
            linear-gradient(to right, rgba(255, 143, 112, 1), rgba(255, 61, 84, 1));
        background-position-x: 25%;
        border-bottom-left-radius: 5rem;
    }
}

.section_one {
    margin-top: 5em;
    margin-bottom: 15em;

    h1 {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        color: $dark-desaturated-blue;
    }

    .content_right {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin: 2.2em 0;
            width: 80%;

            @include tablet {
                max-width: 500px;
            }
        }

        .editor_desktop {
            display: none;
        }
    }

    .content_left {
        padding: 0 2.3em;
        text-align: center;

        .top {
            margin-bottom: 2.3em;
        }

        h2 {
            color: $dark-desaturated-blue;
            ;
            line-height: 1.2em;
            font-size: 1.5rem;
        }

        p {
            color: $dark-gray-blue;
            line-height: 1.8em;
            text-align: center;
            margin: 1em 0;
        }
    }

    @include tablet {
        margin-bottom: 20em;

        h1 {
            font-size: 2rem;
        }

        .content_right {
            .editor_desktop {
                display: none;
            }
        }

        .content_left {
            padding: 0 3em;
            text-align: center;
        }
    }

    @include laptop {
        margin-bottom: 11em;

        h1 {
            margin-bottom: 2em;
            font-size: 2rem;
            color: $very-dark-gray-blue;
        }

        .section_one_content {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }

        .content_left {
            width: 57%;
            padding: 0 5.2em;

            h2 {
                text-align: left;
                font-size: 1.5rem;
            }

            p {
                text-align: left;
            }
        }

        .content_right {
            img {
                margin: 0;
            }

            .editor_desktop {
                display: inline;
                position: absolute;
                width: 55%;
                right: -17%;
            }

            .editor_mobile {
                display: none;
            }

        }
    }
}

.section_two {
    background: url('/images/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-position-y: -105px;
    background-color: #2c2d3f;
    background-size: 100%;
    position: relative;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    height: 550px;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    img {
        width: 91%;
        max-width: 390px;
        position: absolute;
        top: -30%;
        left: 50%;
        margin-left: -190px;
    }

    .section_two_content {
        position: absolute;
        text-align: center;
        color: $white;
        padding: 0 1.5em;
        top: 40%;

        h2 {
            font-size: 2rem;
        }

        p {
            color: $gray-blue;
            margin: 1em;
        }
    }

    @include tablet {
        margin-top: 25em;
        height: 450px;
        background-position-y: -333px;
        border-top-right-radius: 15%;
        border-bottom-left-radius: 15%;
        max-height: 490px;

        img {
            position: absolute;
            max-width: 450px;
            width: 56%;
            top: -47%;
            left: 30%;
            margin-left: -60px;
        }

        .section_two_content {
            position: absolute;
            padding: 0 3em;
            top: 54%;
        }

    }

    @include laptop {
        height: 290px;
        border-top-right-radius: 80px;
        border-bottom-left-radius: 80px;
        flex-direction: row;
        align-items: center;
        background-position-x: -45%;
        background-position-y: 86%;
        background-size: 65%;

        img {
            width: 52%;
            max-width: 390px;
            position: absolute;
            top: -17%;
            left: 26%;
            margin-left: -190px;
        }

        .section_two_content {
            width: 504px;
            text-align: left;
            padding: 0;
            left: 49%;
            position: absolute;
            top: 22%;

            p {
                margin: 1em 0;
            }
        }
    }
}

.section_three {
    position: relative;
    margin-top: 10em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .laptop_mobile {
        margin: 0 auto;
        width: 100%;
        max-width: 550px;
    }

    .laptop_desktop {
        display: none;
    }

    .content_right {
        padding: 1em 2.5em;
        text-align: center;

        h2 {
            font-size: 1.5rem;
            color: $dark-desaturated-blue;
        }

        p {
            color: $dark-gray-blue;
            margin: 1.2em 0;
            line-height: 1.8em;
        }
    }

    @include tablet {
        margin-top: 7em;

        .content_right {
            padding: 1em 3em;
        }
    }

    @include laptop {
        margin-top: 13em;
        margin-bottom: 16em;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        .laptop_mobile {
            display: none;
        }

        .laptop_desktop {
            position: absolute;
            width: 65%;
            display: block;
            top: -35%;
            left: -19%;
        }

        .content_right {
            text-align: left;
            position: relative;
            width: 50%;
            left: 46%;
            padding-right: 2em;
            top: 1%;
        }
    }
}

footer {
    background-color: #2c2d3f;
    padding: 3em 0;
    color: $white;
    border-top-right-radius: 70px;

    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2 {
            font-family: $heading;
            font-size: 2.1rem;
            margin-bottom: 2em;
        }

        ul {
            display: flex;
            flex-direction: column;
            margin-bottom: 2em;
            font-size: 1.5rem;

            .footer_link {
                font-weight: bold;
                color: $white;
                margin-bottom: 1em;
                font-size: 1.15rem;
            }

            a {
                font-size: 1.1rem;
                line-height: 1.8em;
                color: $gray-blue;
                text-decoration: none;

            }
        }
    }

    @include tabletlaptop {
        margin-top: 2em;

        nav {
            flex-direction: row;
            align-items: baseline;
            justify-content: space-evenly;
            text-align: left;

        }
    }
}