@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  font-size: 16px;
  font-family: "Overpass", sans-serif;
  overflow-x: hidden;
}

img {
  width: 100%;
}

.hero_section {
  min-height: 70vh;
  background: url("../images/bg-pattern-intro.svg") center, -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: url("../images/bg-pattern-intro.svg") center, linear-gradient(to right, #ff8f70, #ff3d54);
  background-position-x: 34%;
  background-position-y: 39%;
  background-size: 332% auto, cover;
  border-bottom-left-radius: 5rem;
  background-repeat: no-repeat;
}

.hero_section .hero_header {
  padding: 1.5em 2em;
}

.hero_section .hero_header .hero_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero_section .hero_header .hero_menu h3 {
  font-family: "Overpass", sans-serif;
  color: white;
  font-size: 24px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero_section .hero_header .hero_menu h3 {
    font-size: 30px;
    margin-right: 15px;
  }
}

.hero_section .hero_header .hero_menu .hide {
  display: none;
}

.hero_section .hero_header .hero_menu .show {
  display: block;
}

.hero_section .hero_header .hero_menu .mobile_toggle .menu_icon {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .hero_section .hero_header .hero_menu .mobile_toggle {
    display: none;
  }
}

.hero_section .hero_header .hero_menu .menu_mobile {
  background-color: white;
  position: absolute;
  top: 60px;
  width: 100%;
  padding: 20px 18px;
  border-radius: 3px;
}

.hero_section .hero_header .hero_menu .menu_mobile hr {
  border-color: rgba(228, 227, 227, 0.2);
}

.hero_section .hero_header .hero_menu .menu_mobile .menu_mobile_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
}

.hero_section .hero_header .hero_menu .menu_mobile .menu_mobile_list .angle {
  color: #ff7a85;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 13px;
}

.hero_section .hero_header .hero_menu .menu_mobile .menu_mobile_list .link {
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 15px;
  color: #1f3f5b;
  font-size: 18px;
}

.hero_section .hero_header .hero_menu .menu_mobile .menu_mobile_list .list_content {
  background: rgba(228, 227, 227, 0.4);
  text-align: center;
  padding: 15px 0;
  width: 100%;
  border-radius: 5px;
}

.hero_section .hero_header .hero_menu .menu_mobile .menu_mobile_list .list_content a {
  display: block;
  margin-bottom: 12px;
  color: #3f4164;
  text-decoration: none;
  font-weight: 600;
}

.hero_section .hero_header .hero_menu .menu_mobile .menu_mobile_list .list_content a:last-child {
  margin-bottom: 0;
}

.hero_section .hero_header .hero_menu .menu_mobile .call_to_action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_section .hero_header .hero_menu .menu_mobile .call_to_action .login {
  padding: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #1f3f5b;
  font-size: 18px;
}

.hero_section .hero_header .hero_menu .menu_mobile .call_to_action .sign_up {
  padding: 12px;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(to right, #ff8f70, #ff3d54);
  border: none;
  border-radius: 50px;
  width: 113px;
  font-weight: 600;
  font-size: 14px;
}

@media (min-width: 768px) {
  .hero_section .hero_header .hero_menu .menu_mobile {
    display: none;
  }
}

.hero_section .hero_header .hero_menu .menu_desktop {
  display: none;
}

@media (min-width: 768px) {
  .hero_section .hero_header .hero_menu .menu_desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero_section .hero_header .hero_menu .menu_desktop .middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: relative;
  }
  .hero_section .hero_header .hero_menu .menu_desktop .middle .menu_desktop_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero_section .hero_header .hero_menu .menu_desktop .middle .desktop_link {
    color: rgba(255, 255, 255, 0.8);
  }
  .hero_section .hero_header .hero_menu .menu_desktop .middle .desktop_link:hover {
    color: white;
  }
  .hero_section .hero_header .hero_menu .menu_desktop .middle ul {
    margin-right: 30px;
    font-weight: 600;
    color: white;
  }
  .hero_section .hero_header .hero_menu .menu_desktop .middle ul a {
    display: block;
    cursor: pointer;
  }
  .hero_section .hero_header .hero_menu .menu_desktop .middle ul a:hover {
    text-decoration: underline;
  }
  .hero_section .hero_header .hero_menu .menu_desktop .middle .desktop_list {
    position: absolute;
    top: 35px;
    background: white;
    padding: 12px;
    border-radius: 4px;
    width: 120px;
    font-family: "Ubuntu", sans-serif;
  }
  .hero_section .hero_header .hero_menu .menu_desktop .middle .desktop_list a {
    text-decoration: none;
    color: #3f4164;
    font-weight: 400;
    line-height: 2em;
  }
  .hero_section .hero_header .hero_menu .menu_desktop .middle .desktop_list a:hover {
    color: #2c2d3f;
    font-weight: 600;
    text-decoration: none;
  }
  .hero_section .hero_header .hero_menu .menu_desktop .right .login {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    cursor: pointer;
  }
  .hero_section .hero_header .hero_menu .menu_desktop .right .sign_up {
    cursor: pointer;
    background: white;
    color: #ff525d;
    border-radius: 20px;
    font-size: 13px;
    border: none;
    width: 97px;
    padding: 10px;
    font-weight: 600;
    margin-left: 15px;
  }
  .hero_section .hero_header .hero_menu .menu_desktop .right .sign_up:hover {
    background: #ff7a85;
    color: white;
  }
}

@media (min-width: 1160px) {
  .hero_section .hero_header .hero_menu .menu_desktop {
    width: 87%;
  }
}

@media (min-width: 768px) {
  .hero_section .hero_header .hero_menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1160px) {
  .hero_section .hero_header .hero_menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero_section .hero_header .hero_menu h3 {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero_section .hero_header {
    padding: 2em 3em;
  }
}

@media (min-width: 1160px) {
  .hero_section .hero_header {
    padding: 3em 5em;
  }
}

.hero_section .hero_content {
  padding: 0 2em;
  text-align: center;
  color: white;
  height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero_section .hero_content h2 {
  font-weight: 500;
  font-size: 2.2rem;
}

.hero_section .hero_content p {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 1em;
  margin-bottom: 2em;
}

.hero_section .hero_content .start-free,
.hero_section .hero_content .learn-more {
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  width: 130px;
  border: none;
  margin-right: 8px;
  border-radius: 50px;
  font-size: 14px;
  padding: 14px 14px;
}

.hero_section .hero_content .start-free {
  color: #ff525d;
}

.hero_section .hero_content .start-free:hover {
  color: white;
  background-color: #ff7a85;
}

.hero_section .hero_content .learn-more {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.hero_section .hero_content .learn-more:hover {
  color: #ff525d;
  background-color: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero_section .hero_content {
    height: auto;
    margin-top: 1em;
  }
}

@media (min-width: 1160px) {
  .hero_section .hero_content h2 {
    font-size: 3rem;
  }
  .hero_section .hero_content p {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero_section {
    min-height: 60vh;
    border-bottom-left-radius: 4rem;
    background-position-x: 34%;
    background-position-y: 50%;
    background-size: 188% auto, cover;
  }
}

@media (min-width: 1160px) {
  .hero_section {
    min-height: 70vh;
    background: url("../images/bg-pattern-intro.svg") center, -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
    background: url("../images/bg-pattern-intro.svg") center, linear-gradient(to right, #ff8f70, #ff3d54);
    background-position-x: 25%;
    border-bottom-left-radius: 5rem;
  }
}

.section_one {
  margin-top: 5em;
  margin-bottom: 15em;
}

.section_one h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #3f4164;
}

.section_one .content_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_one .content_right img {
  margin: 2.2em 0;
  width: 80%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section_one .content_right img {
    max-width: 500px;
  }
}

.section_one .content_right .editor_desktop {
  display: none;
}

.section_one .content_left {
  padding: 0 2.3em;
  text-align: center;
}

.section_one .content_left .top {
  margin-bottom: 2.3em;
}

.section_one .content_left h2 {
  color: #3f4164;
  line-height: 1.2em;
  font-size: 1.5rem;
}

.section_one .content_left p {
  color: #4b5862;
  line-height: 1.8em;
  text-align: center;
  margin: 1em 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section_one {
    margin-bottom: 20em;
  }
  .section_one h1 {
    font-size: 2rem;
  }
  .section_one .content_right .editor_desktop {
    display: none;
  }
  .section_one .content_left {
    padding: 0 3em;
    text-align: center;
  }
}

@media (min-width: 1160px) {
  .section_one {
    margin-bottom: 11em;
  }
  .section_one h1 {
    margin-bottom: 2em;
    font-size: 2rem;
    color: #2c2d3f;
  }
  .section_one .section_one_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section_one .content_left {
    width: 57%;
    padding: 0 5.2em;
  }
  .section_one .content_left h2 {
    text-align: left;
    font-size: 1.5rem;
  }
  .section_one .content_left p {
    text-align: left;
  }
  .section_one .content_right img {
    margin: 0;
  }
  .section_one .content_right .editor_desktop {
    display: inline;
    position: absolute;
    width: 55%;
    right: -17%;
  }
  .section_one .content_right .editor_mobile {
    display: none;
  }
}

.section_two {
  background: url("/images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-position-y: -105px;
  background-color: #2c2d3f;
  background-size: 100%;
  position: relative;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  height: 550px;
  max-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section_two img {
  width: 91%;
  max-width: 390px;
  position: absolute;
  top: -30%;
  left: 50%;
  margin-left: -190px;
}

.section_two .section_two_content {
  position: absolute;
  text-align: center;
  color: white;
  padding: 0 1.5em;
  top: 40%;
}

.section_two .section_two_content h2 {
  font-size: 2rem;
}

.section_two .section_two_content p {
  color: #c8c8cb;
  margin: 1em;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section_two {
    margin-top: 25em;
    height: 450px;
    background-position-y: -333px;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    max-height: 490px;
  }
  .section_two img {
    position: absolute;
    max-width: 450px;
    width: 56%;
    top: -47%;
    left: 30%;
    margin-left: -60px;
  }
  .section_two .section_two_content {
    position: absolute;
    padding: 0 3em;
    top: 54%;
  }
}

@media (min-width: 1160px) {
  .section_two {
    height: 290px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-position-x: -45%;
    background-position-y: 86%;
    background-size: 65%;
  }
  .section_two img {
    width: 52%;
    max-width: 390px;
    position: absolute;
    top: -17%;
    left: 26%;
    margin-left: -190px;
  }
  .section_two .section_two_content {
    width: 504px;
    text-align: left;
    padding: 0;
    left: 49%;
    position: absolute;
    top: 22%;
  }
  .section_two .section_two_content p {
    margin: 1em 0;
  }
}

.section_three {
  position: relative;
  margin-top: 10em;
  margin-bottom: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_three .laptop_mobile {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
}

.section_three .laptop_desktop {
  display: none;
}

.section_three .content_right {
  padding: 1em 2.5em;
  text-align: center;
}

.section_three .content_right h2 {
  font-size: 1.5rem;
  color: #3f4164;
}

.section_three .content_right p {
  color: #4b5862;
  margin: 1.2em 0;
  line-height: 1.8em;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section_three {
    margin-top: 7em;
  }
  .section_three .content_right {
    padding: 1em 3em;
  }
}

@media (min-width: 1160px) {
  .section_three {
    margin-top: 13em;
    margin-bottom: 16em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .section_three .laptop_mobile {
    display: none;
  }
  .section_three .laptop_desktop {
    position: absolute;
    width: 65%;
    display: block;
    top: -35%;
    left: -19%;
  }
  .section_three .content_right {
    text-align: left;
    position: relative;
    width: 50%;
    left: 46%;
    padding-right: 2em;
    top: 1%;
  }
}

footer {
  background-color: #2c2d3f;
  padding: 3em 0;
  color: white;
  border-top-right-radius: 70px;
}

footer nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer nav h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.1rem;
  margin-bottom: 2em;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2em;
  font-size: 1.5rem;
}

footer nav ul .footer_link {
  font-weight: bold;
  color: white;
  margin-bottom: 1em;
  font-size: 1.15rem;
}

footer nav ul a {
  font-size: 1.1rem;
  line-height: 1.8em;
  color: #c8c8cb;
  text-decoration: none;
}

@media (min-width: 768px) {
  footer {
    margin-top: 2em;
  }
  footer nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: left;
  }
}
